{% extends 'adminPanel/admin_home.html' %}
{% block content %}
    <div class="container">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Budget</th>
                    <th>Detail</th>
                </tr>
            </thead>
            <tbody>
                {% for item in list %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.phone }}</td>
                        <td>{{ item.email }}</td>
                        <td>{{ item.your_budgets }}</td>
                        <td><a href="{% url 'adminPanel:detail-contact' item.pk %}" class="btn btn-success">Details</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}