{% extends 'adminPanel/admin_home.html' %}

{% block content %}
    <div class="container">
        <a href="{% url 'adminPanel:index' %}" class="btn btn-secondary mb-3">Back</a>
        <a href="{% url 'adminPanel:admin-add-blog' 'add' %}" class="btn btn-success mb-3">Add blog</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Posted Date</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
            {% for item in list %}
                <tr>
                    <td>{{ item.title }}</td>
                    <td>{{ item.text|truncatechars:50|safe }}</td>
                    <td>{{ item.timestamp }}</td>
                    <td><a href="{% url 'adminPanel:detail-blog' item.pk %}" class='btn btn-primary'>Detail</a></td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}