{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_jquery %}

{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/359826513d.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
    <title>Admin</title>
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
</head>

<body>
    <div>
        <div>
            <div>
    <div class="p-3 bg-light">
    <div class="d-flex justify-content-right">

        <div id="our_info" class="d-flex justify-content-around align-self-center" style="width: 40%">
            <div><i class="fas fa-phone-alt align-self-center"></i>
                <span class="m-0 p-2">08002118289</span></div>


            <div><i class="fas fa-envelope align-self-center"></i>
                <span class="m-0 p-2">customer.service@tkckitchens.co.uk</span></div>



        </div>


        <div id="display_b" class="d-flex justify-content-end align-self-center" style="width: 60%">
            <div id='top-bar' class="align-self-center d-flex justify-content-around" style="width: 40%">
                {% if user.is_superuser %}
                    <a class="a_btn" style="text-decoration: none;color: black;font-weight: 500" href="{% url 'adminPanel:index' %}">Admin Panel</a>
                {% endif %}

                {% if user.is_authenticated %}
                    <a href="{% url 'application:list_wishlist' %}" class="a_btn" style="text-decoration: none;color: black;font-weight: 500">Wishlist</a>
                    <a href="{% url 'application:logout' %}" class="a_btn" style="text-decoration: none;color: black;font-weight: 500">Logout</a>

                {% else %}

                <a href="{% url 'application:login' %}" class="a_btn" style="text-decoration: none;color: black;font-weight: 500">Login</a>
                <a href="{% url 'application:signup' %}" class="a_btn" style="text-decoration: none;color: black;font-weight: 500">Register</a>

                {% endif %}

            </div>

            <div id="search_in" class="d-flex justify-content-center" >
                <form class="m-0 d-flex align-self-center" action="{% url 'application:search' %}" method="POST">
                    {% csrf_token %}
                <input type="text" name="search" placeholder="Search..." class="form-control">
                <button class="btn btn-success">
                    <i class="fas fa-search"></i>
{#                    <img style="position: relative;left: -7%" src="{% static 'Svg/search-solid.svg' %}" height="20px" class="align-self-center" alt="">#}
                </button>
                </form>
            </div>

        </div>


    </div>
</div>

</div>

        </div>



        <div class="my-3 ">
            <div style="width: 90%;margin: auto">
                <i class="fas fa-bars" style="font-size: x-large;cursor: pointer" id="icon"  onclick="my_func(event)"></i>
            </div>
            <div class="fade-out p-5 bg-dark text-white" id="side-bar">
                <div class="d-flex justify-content-between">
                    <h4>Admin Panel</h4>
                    <span class="align-self-center" style="cursor: pointer" onclick="close_func(event)">X</span>
                </div>
                <div>
                    <a class="d-block text-center mb-2 a_btn" style="text-decoration: none;color: white" href="{% url 'application:index' %}">Back to main </a>
                    <a class="d-block text-center mb-2 a_btn" style="text-decoration: none;color: white" href="{% url 'adminPanel:admin-all-orders' %}">All orders</a>
                    <a class="d-block text-center mb-2 a_btn" style="text-decoration: none;color: white" href="{% url 'adminPanel:all-users' %}">All users</a>
                    <a class="d-block text-center mb-2 a_btn" style="text-decoration: none;color: white" href="{% url 'adminPanel:contact_list' %}">Contact List</a>

                    <a class="d-block text-center mb-2 a_btn" style="text-decoration: none;color: white" href="">Logout</a>

                </div>
            </div>
        </div>

        {% block content %}
            <div class="card-deck mb-5 p-5" style="width: 90%;margin: auto">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="card-title"><a class="a_btn" style="text-decoration: none;color: inherit" href="{% url 'adminPanel:admin-kitchen' %}">Kitchen</a></h5>
           </div>
          </div>

          <div class="card shadow">
            <div class="card-body">
              <h5 class="card-title"><a class="a_btn" style="text-decoration: none;color: inherit" href="{% url 'adminPanel:admin-worktop' %}">Worktop</a></h5>
            </div>
          </div>


          <div class="card shadow">
            <div class="card-body">
              <h5 class="card-title"><a class="a_btn" style="text-decoration: none;color: inherit" href="{% url 'adminPanel:admin-appliances' %}">Appliances</a></h5>
            </div>
          </div>

                <div class="card shadow">
            <div class="card-body">
              <h5 class="card-title"><a class="a_btn" style="text-decoration: none;color: inherit" href="{% url 'adminPanel:admin-blog' %}">Blogs</a></h5>
            </div>
          </div>
        </div>
        <div>
            <h5 class="text-center"><a href="{% url 'adminPanel:approve' %}">Approve comments</a></h5>
        </div>

        <div class="text-center my-3">
            <a href="{% url 'adminPanel:bulk' %}" class="btn btn-success">Add bulk data</a>
        </div>


        {% endblock %}

    </div>
    {% include 'inc/footer.html' %}
</body>

<script>
    const sidebar=document.getElementById('side-bar')
    const icon = document.getElementById('icon')
    function my_func(e){
        sidebar.classList.remove('fade-out')
        sidebar.classList.add('fade-in')
    }
    function close_func(e){
        sidebar.classList.remove('fade-in')
        sidebar.classList.add('fade-out')
    }
</script>
</html>