{% extends 'adminPanel/admin_home.html' %}

{% block content %}
    <div class="container my-4">
        <a href="{% url 'adminPanel:admin-kitchen' %}" class="btn btn-secondary mb-3">Back</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Color</th>
                    <th>Description</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                {% for item in kitchen_detail %}
                    <tr>
                        <td>{{ item.kitchen_type }}</td>
                        <td>{{ item.color }}</td>
                        <td>{{ item.description }}</td>
                        <td><a href="{% url 'adminPanel:complete-kitchen-detail' item.pk %}" class="btn btn-success">Detail</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>





{% endblock %}