{% extends 'adminPanel/admin_home.html' %}
{% block content %}
    <div class="container my-3">
        <a href="{% url 'adminPanel:admin-blog' %}" class="btn btn-secondary">Back</a>
        <a href="{% url 'adminPanel:edit-blog' 'edit' detail.pk %}" class="btn btn-success">Edit Post</a>
        <div style="width: 65%;margin: auto" class="my-3">
            <img src="{{ detail.get_photo_url }}" height="500px" alt="">
        </div>
        <div>
            <h4 class="text-center mb-2">{{ detail.title }}</h4>
            <hr/>
            <p>{{ detail.text|safe }}</p>
        </div>
    </div>




{% endblock %}