{% extends 'adminPanel/admin_home.html' %}
{% load bootstrap4 %}
{% block content %}
    <div class="container"><a href="{% url 'adminPanel:admin-blog' %}" class="btn btn-secondary">Back</a></div>


    <div class="p-5 border" style="width: fit-content;margin: auto">

        {% if not blog %}
        <form action="{% url 'adminPanel:admin-add-blog' 'add' %}" method="POST" enctype="multipart/form-data">
        {% else %}
        <form action="{% url 'adminPanel:edit-blog' 'edit' blog.pk %}" method="POST" enctype="multipart/form-data">
        sjn,dasm
            {% endif %}
            {% csrf_token %}
            <h3 class="text-center">Add Blog</h3>
{#            {% bootstrap_form form %}#}
            {{ form.as_p }}
            {{ form.media }}
            <button class="btn btn-success w-100">Add</button>
        </form>
    </div>


    <script>
        const la = document.getElementById('id_title')
        console.log(la)
        la.setAttribute('class','form-control')
    </script>

{% endblock %}