amqp==2.6.1
appdirs==1.4.4
APScheduler==3.7.0
asgiref==3.3.1
astroid==2.5.1
beautifulsoup4==4.9.3
billiard==3.6.3.0
boto3==1.16.59
botocore==1.19.59
Brotli==1.0.9
cachetools==4.2.1
celery==4.4.7
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
colorama==0.4.4
cryptography==3.4.7
csscompressor==0.9.5
distlib==0.3.1
Django==3.1.5
django-appconf==1.0.4
django-bootstrap4==2.3.1
django-ckeditor==6.0.0
django-compressor==2.4
django-cors-headers==3.7.0
django-crispy-forms==1.11.2
django-filter==2.4.0
django-google-analytics-app==5.0.2
django-jquery==3.1.0
django-js-asset==1.2.2
django-social-share==2.2.1
django-storages==1.11.1
django-tawkto==0.3
django-webpush==0.3.3
et-xmlfile==1.0.1
filelock==3.0.12
fire==0.1.2
google-api-core==1.25.1
google-auth==1.24.0
google-cloud-core==1.5.0
google-cloud-storage==1.35.0
google-crc32c==1.1.2
google-resumable-media==1.2.0
googleapis-common-protos==1.52.0
gunicorn==20.0.4
http-ece==1.1.0
idna==2.10
isort==5.7.0
jdcal==1.4.1
jmespath==0.10.0
KlarnaCheckout==3.0.1
kombu==4.6.11
lazy-object-proxy==1.5.2
mccabe==0.6.1
openpyxl==3.0.6
openpyxl-image-loader==1.0.5
pbr==5.5.1
peewee==2.8.8
Pillow==8.1.0
protobuf==3.14.0
py-vapid==1.8.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyJWT==1.7.1
pylint==2.7.2
PyMySQL==1.0.2
python-dateutil==2.8.1
python-decouple==3.4
python-dotenv==0.15.0
pytz==2020.5
pywebpush==1.9.4
rcssmin==1.0.6
requests==2.25.1
rjsmin==1.1.0
rsa==4.7
s3transfer==0.3.4
selenium==3.141.0
six==1.15.0
soupsieve==2.1
sqlparse==0.4.1
stevedore==3.3.0
structlog==20.2.0
toml==0.10.2
twilio==6.55.0
tzlocal==2.1
urllib3==1.26.4
vine==1.3.0
virtualenv==20.4.2
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
virtualenvwrapper-win==1.2.6
Workon==0.8.2
wrapt==1.12.1
