amqp==2.6.1
APScheduler==3.7.0
asgiref==3.3.1
beautifulsoup4==4.9.3
billiard==3.6.3.0
boto3==1.16.59
botocore==1.19.59
cachetools==4.2.1
celery==4.4.7
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
Django==3.1.5
django-bootstrap4==2.3.1
django-ckeditor==6.0.0
django-cors-headers==3.7.0
django-filter==2.4.0
django-google-analytics-app==5.0.2
django-jquery==3.1.0
django-js-asset==1.2.2
django-social-share==2.2.1
django-storages==1.11.1
et-xmlfile==1.0.1
google-api-core==1.25.1
google-auth==1.24.0
google-cloud-core==1.5.0
google-cloud-storage==1.35.0
google-crc32c==1.1.2
google-resumable-media==1.2.0
googleapis-common-protos==1.52.0
gunicorn==20.0.4
idna==2.10
jdcal==1.4.1
jmespath==0.10.0
KlarnaCheckout==3.0.1
kombu==4.6.11
openpyxl==3.0.6
openpyxl-image-loader==1.0.5
Pillow==8.1.0
protobuf==3.14.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyMySQL==1.0.2
python-dateutil==2.8.1
python-decouple==3.4
python-dotenv==0.15.0
pytz==2020.5
requests==2.25.1
rsa==4.7
s3transfer==0.3.4
six==1.15.0
soupsieve==2.1
sqlparse==0.4.1
structlog==20.2.0
tzlocal==2.1
urllib3==1.26.2
vine==1.3.0
