{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_jquery %}
{% bootstrap_javascript %}
<div style="width: 40%;margin: auto" >
    <form action="{% url 'reset_password' %}" method="POST" class="p-5">
        {% csrf_token %}
        <h2>Reset Password</h2>
        <p>An email will be sent with instructions to reset your password</p>
        <label for="" class="d-block">
            Email Address
            <input class="form-control" type="email" placeholder="Enter your email" required name="email">
            <button class="btn btn-success my-2">Reset my password</button>
        </label>
    </form>
</div>