:root{
    --White:white;
    --Black:black;
    --Blue:blue;
    --Anthracite:#383e42;
    --Cashmere:#d1b399;
    --Cream:#fffdd0;
    --Dust-Grey:#7a7b7a ;
    --Light-Grey:lightgray;
    --Pavilion:#C8C3BC;
    --Porcelain:#dddcdb ;
    --Stone:#888c8d ;
    --Ivory:#FFFFF0;
    --Mussel:#fbd1c3 ;
    --Oak:#806517 ;
    --Dakar:#988E7D;
    --Saga-Green:#58724c ;
    --Indigo:indigo;




}
#on:hover {
    background-color: dodgerblue;
    color: white;
    border-radius: 4px;

}
.wishlistth{
    padding: .75rem 50px!important;
}
.hoverEffect{
    transition:all 0.3s ease-in-out;
}
.hoverEffect:hover{
    cursor: pointer;
    background-color: rgb(46, 154, 135);
    color: white;
    border:none;
}
/*.btn-success{*/
/*    color: #fff;*/
/*    background-color: rgb(46, 154, 135) !important;*/
/*    border-color: rgb(46, 154, 135)!important;*/
/*}*/
.my_c{
    color:rgb(46, 154, 135)!important;
}
.a_btn:hover{
    color: forestgreen!important;
}
/*p{*/
/*    font-size: 1em;*/
/*}*/
/*h1,h2,h3,h4,h5{*/
/*    font-weight: 800;*/
/*}*/
.by-ajax{
    height: 300px;
}
.date2{
    transition: all 1s ease-in-out!important;
}
.date:hover .date2{
    transform: translateY(-60%);
}
.dropdown-item:hover{
    background-color: rgb(46, 154, 135)!important;
    color:white!important;
}
/*body{
    background-color: blue;
}*/

@media only screen and (min-width: 100px) and (max-width: 768px){
    body{
        /*font-size: 1.5rem;*/
        width: 100vw;
    }

    .height-cut{
        height: 200px!important;
    }
    #our_info{
        display: none!important;
    }
    #display_b{
        display: block!important;
        width: 100%!important;
    }
    #top-bar{
        width: 100% !important;
        margin-bottom: 15px;
        /*display: block!important;*/
    }
    .a_btn{
        font-weight: normal!important;
    }
    #search_in{
        width: 100% !important;
    }
    #second_bar{
        display: none!important;
    }
    #menu_div{
        transition: all 2s ease-in-out;
    }
    .img{
        height: 350px!important;
    }
    .menu{
        display: block!important;
    }
    .counter{
        width: 120% !important;
    }
    .complete-line{
        width: 90%!important;
        margin: auto;
        text-align: left!important;
    }
    #container_remove{
        width: 100% !important;
        padding: 0!important;
    }
    #zero{
        padding: 0!important;
    }
    #video{
        /*height: 100px!important;*/
        width: 310px!important;
    }
    .video{
        /*height: 100px!important;*/
        width: 310px!important;
    }
    #blog{
        max-width: 100% !important;
    }
    #footer{
        width: 100% !important;
        padding: 2px!important;
    }
    .img1{
        height: 320px!important;
        width: 100%!important;
    }
    .bottom{
        margin: 8px 0!important;
    }
    #more{
        width: 100%!important;
    }
    .table-responsive1 {
     display: block!important;
    width: 100% !important;
    overflow-x: auto!important;
    -webkit-overflow-scrolling: touch;

}
    #contain{
        width: 80%!important;
        margin: auto!important;
    }
    #k_img{
        height: 250px!important;
        max-width: 100%!important;
    }
    .input{
        width: 160%!important;
    }
    .animating{
        animation: show 1.5s ease-in-out;
        transition: all ease-in-out;
    }
    .remove-animating{
        animation: remove 1.5s ease-in-out;
        transition: all ease-in-out;
    }
    .small2{
        font-size: 13px!important;
    }
    #cart{
        left: 35%!important;
    }
    .move2{
        position: relative;
        top:-200px;
        left: 0;
    }
    .move{
        position: relative;
        top:120px;
        left: 0;
    }
    .move3{
        position: relative;
        top:-80px;
        left: 0;
    }
    #less{
        font-size:medium!important ;
        font-weight: 700!important;
    }
    @keyframes remove {
        0%{
            height: 60%;
        }
        100%{
            height: 3%;
        }
    }
    @keyframes show {
        0%{
            height: 3%;
        }
        100%{
            height: 60%;
        }
    }


}
/*@media only screen and (min-width: 100px) and (max-width: 319px) {*/
/*    .move2{*/
/*        top:107%!important;*/
/*        left: 11%!important;*/
/*    }*/
/*!*}*!*/
/*@media only screen and (min-width: 320px) and (max-width: 374px) {*/
/*    .move2{*/
/*        top:107%!important;*/
/*        left: 16%!important;*/
/*    }*/
/*}@media only screen and (min-width: 375px) and (max-width: 474px) {*/
/*    .move2{*/
/*        top:103%!important;*/
/*        left: 19%!important;*/
/*    }*/
/*}@media only screen and (min-width: 475px) and (max-width: 768px) {*/
/*        .move2{*/
/*        top:93%!important;*/
/*        left: 34%!important;*/
/*    }*/
/*}*/
@media only screen and (min-width: 767px) and (max-width: 1007px) {
        .input{
        width: 100%!important;
    }
}