:root{
    --White:white;
    --Black:black;
    --Blue:blue;
    --Anthracite:#444848;
    --Cashmere:#bbafa6;
    --Cream:#e0d6ca;
    --Dust-Grey:#888888 ;
    --Light-Grey:#babbb6;
    --Pavilion:#a69c8d;
    --Porcelain:#858377 ;
    --Stone:#b4a99a ;
    --Ivory:#dad6c1;
    --Mussel:#e4d6bb ;
    --Oak:#c99f6f ;
    --Dakar:#a79c8b;
    --Saga-Green:#bdbda4 ;
    --Indigo:#404757;




}
.list-style{
    list-style: none ;
}

#on:hover {
    background-color: dodgerblue;
    color: white;
    border-radius: 4px;

}
h1{
    font-size: 30px!important;
}
.wishlistth{
    padding: .75rem 50px!important;
}
.hoverEffect{
    transition:all 0.3s ease-in-out;
}
.bold{
    font-weight: 700;
}
.hoverEffect:hover{
    cursor: pointer;
    background-color: rgb(46, 154, 135);
    color: white;
    border:none;
}

.my_c{
    color:rgb(46, 154, 135)!important;
}
.a_btn:hover{
    color: forestgreen!important;
}

.by-ajax{
    height: 300px;
}
.date2{
    transition: all 1s ease-in-out!important;
}
.date:hover .date2{
    transform: translateY(-60%);
}
.dropdown-item:hover{
    background-color: rgb(46, 154, 135)!important;
    color:white!important;
}
.form-control-form {
    display: block;
    width: 30%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    outline: none;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control-form1 {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    outline: none;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control-form:focus,.form-control-form1:focus{
        box-shadow: 1px 1px forestgreen;

}
.pointer{
    cursor: pointer;
}
#abs{
    position: relative;top: 0;left: 0
}
#add-units{
    max-height: 45vh;position: absolute;top:40px;left: 0;overflow: auto;display: none;;cursor: pointer;
}
#add-units p:hover {
    background-color: whitesmoke;
}
.min-width div img{
    min-width: 100%;
}
.menu{
    display: none!important;
}
.desktop{
    display: block;
    position: sticky;top: 0;z-index: 2
}

@media only screen and (min-width: 100px) and (max-width: 768px){
    body{
        /*font-size: 1.5rem;*/
        width: 100vw;
    }
    .display_b{
    display: none!important;
}
    .remove-border{
        border: none!important;
    }

    .mtb{
        margin: 3px 0!important;
    }
    .mtb1{
        margin: 7px 0!important;
    }
    .d-none{
        display: block!important;
        width: fit-content;
    }
    .height-cut{
        height: 200px!important;
    }
    #our_info{
        display: none!important;
    }
    #display_b{
        display: block!important;
        width: 100%!important;
    }
    #top-bar{
        width: 100% !important;
        margin-bottom: 15px;
        /*display: block!important;*/
    }
    .a_btn{
        font-weight: normal!important;
    }
    #search_in{
        width: 100% !important;
                margin-left: 0!important;

    }
    #second_bar{
        display: none!important;
    }
    .img{
        height: 350px!important;
    }
    .menu{
        display: block!important;
    }
    .desktop{
    display: none;
}
    .counter{
        width: 110% !important;
    }
    .complete-line{
        width: 90%!important;
        margin: auto;
        text-align: left!important;
    }
    #container_remove{
        width: 100% !important;
        padding: 0!important;
    }
    #zero{
        padding: 0!important;
    }
    #video{
        height: 300px!important;
        width: 310px!important;
    }
        #video1{
        height: 300px!important;
        width: 310px!important;
    }
    .video{
        height: 300px!important;
        width: 310px!important;
    }
    #blog{
        max-width: 100% !important;
    }
    #footer{
        width: 100% !important;
        padding: 2px!important;
    }
    .img1{
        height: 250px!important;
        max-width: 100%!important;
    }
    .bottom{
        margin: 8px 0!important;
    }
    #more{
        width: 100%!important;
    }
    .table-responsive1 {
     display: block!important;
    width: 100% !important;
    overflow-x: auto!important;
    -webkit-overflow-scrolling: touch;

}
    #contain-div{
        display: block!important;
        width: 94%!important;
        margin: auto!important;
    }
    .btn-sm2 {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}
    #contain{
        width: 80%!important;
        margin: auto!important;
    }
    #k_img{
        height: 250px!important;
        max-width: 100%!important;
    }
        #k_img1{
        height: 350px!important;
        max-width: 100%!important;
    }
    .input{
        width: 160%!important;
    }
    .fade-in-menu{
        opacity: 1;
        transform:translateY(0%) ;
        transition: .2s all ease-in-out;
    }
    .fade-out-menu{
        opacity: 0;
        transform: translateY(-19%);
        transition: .2s all ease-in-out;
    }
    .small2{
        font-size: 13px!important;
    }
    #cart{
        left: 35%!important;
    }
    .move2{
        position: relative;
        top:-205px;
        left: 0;
    }
    .move{
        position: relative;
        top:120px;
        left: 0;
    }
    .move3{
        position: relative;
        top:-80px;
        left: 0;
    }
    #less{
        font-size:medium!important ;
        font-weight: 700!important;
    }

    .block{
        display: block!important;
        width: 100%!important;
    }
    .newPosition{
        position: relative;
        top: -50px;
    }

}

@media only screen and (min-width: 767px) and (max-width: 1007px) {
        .input{
        width: 100%!important;
    }
    .display_b{
    display: none!important;
}
    #k_img{
        height: 450px!important;
        max-width: 100%!important;
    }
    .video{
        height: 400px!important;
    }
    .menu{
        display: block!important;
    }
        .desktop{
    display: none;
}
    #second_bar{
        display: none!important;
    }
}
@media only screen and (min-width: 1008px) and (max-width: 1100px) {
#k_img{
    height: 650px!important;
}
    .video{
        height: 400px!important;
    }
}
@media only screen and (min-width: 1111px)  {
    .m-width{
width: min-content;    }
}


