{% extends 'base.html' %}
{% load static %}
    {% block meta %}
        <meta name="{{ name }}" content="{{ description }}">
        <title>{{ title }}</title>

    {% endblock %}
{% block content %}
        <h3 class="text-center">Our Fitted Kitchen Ranges</h3>
		{% for item in list %}
			<div id="search_in" class="text-center my-5">
				<h3 style="color: rgb(46, 154, 135)">{{ item.name }}</h3>
				<p style="width: 85%;margin: auto;margin-bottom: 5px">{{ item.description }}</p>
				<div style="width: 85%;margin: auto">

				<div>
					{% for i in item.imgs %}
						{% ifequal forloop.counter 1 %}
								<img src="https://storage.googleapis.com/kitchensite/{{ i }}" loading="lazy" class="d-block mx-auto lazy img1 shadow" id="main{{ item.name }}" style="max-width: 100%" height="700px" alt="{{ i }} ">
							{% else %}
							<img src="https://storage.googleapis.com/kitchensite/{{ i }}" loading="lazy" style="cursor:pointer;" height="70px" class="mx-auto my-2 lazy" onclick="img_change(event,`{{ item.name }}`,`{{ item.colors }}`)" alt="{{ i }}/{{ forloop.counter0 }}">
						{% endifequal %}
					{% endfor %}
				</div>

				<div class="d-flex  my-3" style="width: 60%;margin: auto" id="display_b">
					<span style="width: 30%"><b>Color Available:</b></span>

					<div class="d-flex justify-content-around" style="width: 90%;margin: auto" id="search_in">
						{% for i in item.colors %}

						<p class="m-0 align-self-center" style="width: 30px;height: 30px;background-color: var(--{{ i }});border: 1px solid lightgrey"></p>
						{% endfor %}
					</div>
				</div>
				<a id="link{{ item.name }}" href="{% url 'application:kitchen-view' item.name item.colors|slice:"0:1"|last  %}" class="btn btn-success">View Fitted Kitchen & Prices</a>

				</div>

			</div>

		{% endfor %}
{% endblock %}
{% block script %}
<script>


	{# on click change image	#}
	function img_change(e,name,color){
	    const main = document.getElementById(`main${name}`)
		const link = document.getElementById(`link${name}`)
		const split = color.split(',')
		const target_alt = e.target.alt.split('/')
		const exactColor = split[target_alt[target_alt.length-1]].split("'")
		link.href = `/kitchen-view/${name}/${exactColor[1]}/`
		main.src = e.target.src
	}
</script>
{% endblock %}