{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div>
        <div >

        {#   custom carosel to be made     #}
        <div id="carouselExampleControls1" class="carousel slide " data-ride="carousel">


          <div class="carousel-inner" id="deleteId">


            <div class="carousel-item active" id="carosel">
              <img class="d-block w-100 " id="k_img" style="height: 600px" src="{% static 'imgs/main1.jpg' %}" alt="First slide">
                                <div class="carousel-caption d-none d-md-block">
                  <h5>Third slide label</h5>
                  <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
            </div>
            <div class="carousel-item bg-dark">
              <img class="d-block w-100 " id="k_img" style="height: 600px"  src="{% static 'imgs/main2.jpg' %}" alt="Second slide">
                    <div class="carousel-caption d-none d-md-block">
                  <h5>Third slide label</h5>
                  <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
            </div>
            <div class="carousel-item bg-dark">
              <img class="d-block w-100 " id="k_img" style="height: 600px" src="{% static 'imgs/main3.jpg' %}" alt="Third slide">
                                <div class="carousel-caption d-none d-md-block">
                  <h5 style="color: black!important;">Third slide label</h5>
                  <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
            </div>
          </div>
          <a class="carousel-control-prev"   href="#carouselExampleControls1" role="button" data-slide="prev">
            <div class="p-3 bg-dark" style="">
                <span class="carousel-control-prev-icon"  style="color: black!important;" aria-hidden="true"></span>
                <span class="sr-only"  id="arrow_left">Previous</span>
            </div>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
            <div class="p-3 bg-dark">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </div>
          </a>
        </div>

    </div>


        <div class="row m-0 my-4">
            <div class="col-lg-6">
                <img src="{% static 'imgs/m1.jpg' %}" id="k_img" class="" height="400px" alt=>
            </div>
            <div class="p-5 col-lg-6">
                <h4>
                    Kitchen Description
                </h4>
                <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto atque est et ex facere fugiat molestiae mollitia optio quaerat, quod sint suscipit vitae? Assumenda consectetur debitis nulla pariatur repellat!</span></p>
            </div>
        </div>

        <div class="row m-0">
            <div class="p-5 col-lg-6">
                <h4>Kitchen Description</h4>
                <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A autem cum cupiditate, distinctio eius esse est, et ex excepturi libero perferendis perspiciatis quaerat, quia quo rem repellendus repudiandae tenetur voluptatum?</span></p>
            </div>
            <div class="col-lg-6">
 <img src="{% static 'imgs/m2.jpg' %}" id="k_img" class=" my-2" height="400px" alt=>
            </div>
        </div>

        <div class="row m-0">
            <div class="col-lg-6">
 <img src="{% static 'imgs/main3.jpg' %}" id="k_img" height="400px" alt=>            </div>
            <div class="p-5 col-lg-6">
                <h4>Kitchen Description</h4>
                <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, eligendi placeat. Accusamus autem cumque distinctio quam? Ab accusamus amet blanditiis dicta dolorem enim ipsa minus quibusdam tempore veniam. Iure, similique!</span></p>
            </div>
        </div>
    </div>

    <div class="text-center my-3">
        <h4 class="p-3">Our catalogue of kitchen styles</h4>
        <div class="row m-0">
            {% for i in list %}
{#            <li><a style="color: rgb(46, 154, 135)" href="{% url 'application:kitchen-view' i.pk %}">{{ i }}</a></li>#}
               <div class="col-lg-3 my-2">
                    <div class="card shadow">
            <div class="card-body">
              <h5 class="card-title"><a style="color: rgb(46, 154, 135)" href="{% url 'application:kitchen-view' i.pk %}">{{ i }}</a></h5>
           </div>
          </div>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}