{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div>
        <h3 class="text-center">Our catalogue of kitchens</h3>
        <div class="row m-0 ">
            {% for item in list %}
                <div class="col-lg-4 my-4">
                    <div class="card  p-0" style="height: 588px">
                        <img src="{{ item.get_photo_url }}" height="278px" class="card-img-top" alt="">
                        <div class="card-body">
                            <h4 style="color:rgb(46, 154, 135);">{{ item.kitchen_type }}</h4>
                            <p>{{ item.description }}</p>
                            <a style="color: rgb(46, 154, 135)" href="{% url 'application:kitchen-view' item.kitchen_type.pk %}">View {{ item.kitchen_type }}</a>
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}