{% load compress %}
{% load static %}
{% load custom_tag %}
{% canonical_tag request as can_tag %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}
        <meta name="{{ name }}" content="{{ description }}">
        <title>{{ title }}</title>

    {% endblock %}
	{% load bootstrap4 %}
	{% bootstrap_css %}
	{% bootstrap_jquery %}
	{% bootstrap_javascript %}
	<meta name="vapid-key" content="{{ vapid_key }}">
    {% if user.id %}
        <meta name="user_id" content="{{ user.id }}">
    {% endif %}
    <link rel="shortcut icon" type="image/png" href="{% static 'imgs/favicon.png' %}">
    <script defer src="https://kit.fontawesome.com/359826513d.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css" id="style">
	<link rel="stylesheet" href="{% static 'css/admin.css' %}" type="text/css" id="style2">

	<link rel="canonical" href="{{ can_tag }}">

</head>
<body>
<div>
    <div class="p-3 bg-light">
    <div class="d-flex justify-content-right" id="display_b">

        <div id="display_b" class="d-flex justify-content-around align-self-center mtb" style="width: 40%">
            <div><i class="fas fa-phone-alt align-self-center"></i>
                <a style="color:inherit;text-decoration: none" href="tel:08002118289" class="m-0 p-2">08002118289</a></div>


            <div class="mtb1"><i class="fas fa-envelope align-self-center"></i>
                <a style="color: inherit;text-decoration: none;" href="https://mail.google.com/mail/?view=cm&fs=1&to=service@tkckitchens.co.uk" class="m-0 p-2">service@tkckitchens.co.uk</a></div>

        </div>


        <div id="display_b" class="d-flex justify-content-end align-self-center mtb" style="width: 60%">
            <div id='top-bar' class="align-self-center d-flex justify-content-around" style="width: 40%">
                {% if user.is_superuser %}
                    <a class="a_btn" style="text-decoration: none;color: black;font-weight: 500" href="{% url 'adminPanel:index' %}">Admin Panel</a>
                {% endif %}

                {% if user.is_authenticated %}
                    <a href="{% url 'application:list_wishlist' %}" class="a_btn" style="text-decoration: none;color: black;font-weight: 500">Wishlist</a>
                    <a href="{% url 'application:logout' %}" class="a_btn" style="text-decoration: none;color: black;font-weight: 500">Logout</a>

                {% else %}

                <a href="{% url 'application:login' %}" class="a_btn" style="text-decoration: none;color: black;font-weight: 500">Login</a>
                <a href="{% url 'application:signup' %}" class="a_btn" style="text-decoration: none;color: black;font-weight: 500">Register</a>

                {% endif %}

            </div>

            <div id="search_in" class="d-flex justify-content-center" >
                <form class="m-0 d-flex align-self-center" action="{% url 'application:search' %}" method="POST">
                    {% csrf_token %}
                <input type="text" name="search" placeholder="Search..." class="form-control">
                <button class="btn btn-success">
                    <i class="fas fa-search"></i>
{#                    <img style="position: relative;left: -7%" src="{% static 'Svg/search-solid.svg' %}" height="20px" class="align-self-center" alt="">#}
                </button>
                </form>
            </div>

        </div>


    </div>
</div>

</div>


{# including the navigation bar#}
{% include './inc/navbar2.html' with kitchen=kitchen %}




{% block content %}


		{% for msg in messages %}
			{% if msg %}
					<div class="alert alert-primary text-center" role="alert">

						<p class="m-0">{{ msg }}</p>
					</div>

			{% endif %}
		{% endfor %}

	<!--Slider -->
	<div class="alert text-center text-white" style="background-color: rgb(220,20,60)" role="alert">
		<h2 class="m-0">Sale Now On</h2>
	</div>
	<div id="carouselExampleControls" class="carousel slide block"  style="width: min-content;margin: auto" data-ride="carousel">
          <div class="carousel-inner" >

              <div class="carousel-item active">
              <img class="d-block " id="k_img" loading="lazy" style="height: 700px" src="{% static 'imgs/Brand New Traditional kitchen in Mussel oak cambr.jpg' %}" alt="Kitchen designs and styles">
	              <div class="carousel-caption d-block">
		              <a href="{% url 'application:all-kitchen' %}" class="mtb btn btn-success btn-sm2">View Our New Kitchens</a>

				  </div>

            </div>


              <div class="carousel-item ">
              <img class="d-block " id="k_img"  style="height: 700px" src="{% static 'imgs/New Traditional fitted Kitchens in indigo cartmel.jpg' %}" alt="Modern Tkc kitchen style">
	              <div class="carousel-caption d-block">
		              <a href="{% url 'application:all-kitchen' %}" class="mtb btn btn-success btn-sm2">View Our New Kitchens</a>

				  </div>
            </div>


              <div class="carousel-item ">
              <img class="d-block " id="k_img"  style="height: 700px;" src="{% static 'imgs/New_High_Gloss_anthracite_Kitchens ascot.jpg' %}" alt="Tkc kitchens style">
	              <div class="carousel-caption d-block">
		              <a href="{% url 'application:all-kitchen' %}" class="mtb btn btn-success btn-sm2">View Our New Kitchens</a>

				  </div>
              </div>


              <div class="carousel-item ">
              <img class="d-block " id="k_img"  style="height: 700px;" src="{% static 'imgs/New_High_Gloss_anthracite_Kitchens lucent gloss.jpg' %}" alt="Modern Kitchen Style">
	              <div class="carousel-caption d-block">
		              <a href="{% url 'application:all-kitchen' %}" class="mtb btn btn-success btn-sm2">View Our New Kitchens</a>

				  </div>
            </div>


              <div class="carousel-item ">
              <img class="d-block " id="k_img" style="height: 700px;" src="{% static 'imgs/New_High_Gloss_new Kitchens glacier.jpg' %}" alt="Modern Kitchen design">
	              <div class="carousel-caption d-block">
		              <a href="{% url 'application:all-kitchen' %}" class="mtb btn btn-success btn-sm2">View Our New Kitchens</a>

				  </div>
            </div>

	          <div class="carousel-item ">
		          <img class="d-block " id="k_img" style="height: 700px;" src="{% static 'imgs/New_Traditional_kitchen_in_Denim cambridge.jpg' %}" alt="Modern Kitchen design">
	              <div class="carousel-caption d-block">
		              <a href="{% url 'application:all-kitchen' %}" class="mtb btn btn-success btn-sm2">View Our New Kitchens</a>

				  </div>
	          </div>

	          <div class="carousel-item ">
		          <img class="d-block " id="k_img" style="height: 700px;" src="{% static 'imgs/new slim frame light grey kitchen - Copy.jpg' %}" alt="Modern Kitchen design">
	              <div class="carousel-caption d-block">
		              <a href="{% url 'application:all-kitchen' %}" class="mtb btn btn-success btn-sm2">View Our New Kitchens</a>

				  </div>
	          </div>

	          <div class="carousel-item ">
		          <img class="d-block " id="k_img" style="height: 700px;" src="{% static 'imgs/new slim frame indigo kitchen - Copy.jpg' %}" alt="Modern Kitchen design">
	              <div class="carousel-caption d-block">
		              <a href="{% url 'application:all-kitchen' %}" class="mtb btn btn-success btn-sm2">View Our New Kitchens</a>

				  </div>
	          </div>


          </div>
          <a class="carousel-control-prev"  style="color: black!important;" href="#carouselExampleControls" role="button" data-slide="prev">
            <div class="p-3 bg-dark" style="">
                <span class="carousel-control-prev-icon"  style="color: black!important;" aria-hidden="true"></span>
                <span class="sr-only" style="padding: 20px!important;" id="arrow_left">Previous</span>
            </div>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <div class="p-3 bg-dark">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </div>
          </a>
        </div>

		<h1 style="color: rgb(46, 154, 135);" class="text-center m-0">ITALIAN INSPIRED NEW KITCHENS FROM A BRITISH COMPANY</h1>


    <div class="pl-5 pr-5 pt-1 pb-0" >
        <div class="container row m-0 mx-auto  p-2  counter" id="width" style="">


            <div class="col-lg-3 my-2">
                <div class="card hoverEffect shadow" style="max-width:90%;">
                  <div class="card-body ">
                    <div class="d-flex justify-content-between">
                        <h2 style="font-weight: 800" class="card-title m-0 align-self-center counter-count">4000+</h2>
                          <i class="far fa-handshake align-self-center" style="font-size: xx-large"></i>
                    </div>
                      <p style="font-weight: 500" class="text-left m-0">Satisfied Clients</p>
                  </div>
                </div>
            </div>


            <div class="col-lg-3 my-2">
                <div class="card hoverEffect shadow" style="max-width:90%;">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h2 class="card-title m-0 align-self-center counter-count" style="font-weight: 800">2431</h2>
                          <i class="far fa-handshake align-self-center" style="font-size: xx-large"></i>
                    </div>
                      <p style="font-weight: 500" class="text-left m-0">Design Plans</p>
                  </div>
                </div>

            </div>


            <div class="col-lg-3 my-2">
                <div class="card hoverEffect shadow" style="max-width:90%;">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex">
                            <h3 style="font-weight: 800" class="card-title m-0 align-self-center counter-count">50</h3>
                            <span class="align-self-center" style="font-size: x-large">+</span>
                        </div>
                          <i class="far fa-handshake align-self-center" style="font-size: xx-large"></i>
                    </div>
                      <p style="font-weight: 500" class="text-left m-0 ">Years Experience</p>
                  </div>
                </div>

            </div>


            <div class="col-lg-3 my-2">
                <div class="card hoverEffect shadow" style="max-width:90%;">
                  <div class="card-body ">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex">
                            <h3 style="font-weight: 800" class="card-title m-0 align-self-center counter-count">3000</h3>

                            <span class="align-self-center" style="font-size: x-large">+</span>
                        </div>
                          <i class="far fa-handshake align-self-center" style="font-size: xx-large"></i>
                    </div>
                      <p style="font-weight: 500" class="text-left m-0">Completed Projects</p>
                  </div>
                </div>

            </div>
        </div>



    </div>

	
	<div style="width: 82%;margin: auto" id="contain" >
		<ul class="list-style" id="zero">
			<li class="d-flex mb-2">
				<img src="{% static 'imgs/images.png' %}" height="20px" alt="check mark logo">
				<p class="align-self-center bold ml-2 mb-0" style="display: inline-block">We are a British Design Kitchen Company with a Focus on British Fitted Furniture.</p>

			</li>
			<li class="d-flex mb-2">
				<img src="{% static 'imgs/images.png' %}" height="20px" alt="">

				<p class="align-self-center bold ml-2 mb-0" style="display: inline-block">Nationwide Service and Quick Delivery of newly stocked kitchen items in 7-10 days.

				</p>
			</li>
			<li class="d-flex mb-2">

				<img src="{% static 'imgs/images.png' %}" height="20px" alt="check mark logo">

				<p class="align-self-center bold ml-2 mb-0" style="display: inline-block">We are committed to producing quality priced new kitchens at affordable prices.</p></li>
			<li class="d-flex mb-2">

				<img src="{% static 'imgs/images.png' %}" height="20px" alt="check mark logo">

				<p class="m-0 align-self-center bold ml-2 mb-0" style="display: inline-block">Your new Kitchen furniture has been tested and approved by FIRA to reassure our customers of our high-quality kitchen units and FSC certified to ensure our products are responsibly sourced.</p>

			</li>
			<li class="d-flex mb-2">
				<img src="{% static 'imgs/images.png' %}" height="20px" alt="check mark logo">

				<p class="align-self-center bold ml-2 mb-0" style="display: inline-block">We provide a full range of products and services ranging from Kitchen units, kitchen worktops, kitchen appliances, kitchen design and full kitchen unit installation service.</p>

			</li>



			<li class="d-flex mb-2" >
				<img src="{% static 'imgs/images.png' %}" height="20px" alt="check mark logo">

				<p class="align-self-center bold ml-2 mb-0" style="display: inline-block">Our team is fully qualified from design to Installation, 100’s of years of experience.</p>

			</li>

		</ul>


	</div>

	<!--Place of video -->
	<div class="text-center">
		<div >
			<video src="" id="afterVideo" poster="{% static 'imgs/Brand New Traditional kitchen in Mussel oak cambr.jpg' %}" class="video" height="580px" controls muted></video>

		</div>
				<a style="position: relative;top: -110px" class="btn btn-success" id="btn" href="{% url 'application:all-kitchen' %}">View Our New Kitchens</a>

	</div>

	<div class=" my-3 display_b" id="contain" style="width: max-content;margin: auto">
			<a href="{% url 'application:contact' %}" class="mtb btn btn-success btn-sm2">Get Free Sample</a>
			<a href="{% url 'application:installation_contact' %}" class="mtb btn btn-success btn-sm2">Installation Service</a>
			<a href="{% url 'application:design' %}" class="mtb btn btn-success btn-sm2">Design Service</a>
		</div>



	<div class=" my-3 newPosition justify-content-between display_b" id="display_b" style="width: 50%;margin: auto;display: none">
		<div class=" d-flex justify-content-between mtb w-50"  id="contain">
			<a href="{% url 'application:contact' %}" class="mtb btn btn-success btn-sm2">Get Free Sample</a>
			<a href="{% url 'application:all-kitchen' %}" class="mtb btn btn-success btn-sm2">View Our Kitchens</a>
		</div>
		<div class="d-flex justify-content-between mtb w-50 ml-3" id="contain">
			<a href="{% url 'application:installation_contact' %}" class="mtb btn btn-success btn-sm2">Installation Service</a>
			<a href="{% url 'application:design' %}" class="mtb btn btn-success btn-sm2">Design Service</a>
		</div>

	</div>






        <div class="row text-center my-3 p-3" style="width: 80%;margin: auto">
        <div class="col-lg-3 p-3 hoverEffect border-right remove-border d-flex height-cut" style="height: 350px">
            <div class="align-self-center ">
                <i class="fas fa-pencil-ruler p-3" style="font-size: xx-large"></i>
            <h2 style="font-weight: 800">Design & Drawing</h2>
            <p style="font-weight: 500">We deliver Kitchen designs that balance style & functionality.</p>
            </div>
        </div>
        <div class="col-lg-3 p-3 hoverEffect border-right remove-border d-flex height-cut"  style="height: 350px">
            <div class="align-self-center">
                <i class="fas fa-cogs p-3" style="font-size: xx-large"></i>
            <h2 style="font-weight: 800">Installation</h2>
            <p style="font-weight: 500">We carry out full installation services. With us, every step is seamless.</p>
            </div>
        </div>
        <div class="col-lg-3 p-3 hoverEffect border-right d-flex remove-border height-cut" style="height: 350px">
            <div class="align-self-center">
                <i class="fas fa-truck p-3" style="font-size: xx-large"></i>
                <h2 style="font-weight: 800">Fast Delivery</h2>
                <p style="font-weight: 500">7 to 10 days Nationwide Delivery. Free delivery for orders above £300.</p>
            </div>
        </div>
        <div class="col-lg-3 p-3 hoverEffect border-right d-flex remove-border height-cut" style="height: 350px">
            <div class="align-self-center">
                <i class="fas fa-money-bill-wave p-3" style="font-size: xx-large"></i>
                <h2 style="font-weight: 800">Easy Payments</h2>
                <p style="font-weight: 500">3 Easy interest-free Instalments through KLARNA</p>
            </div>
        </div>
    </div>





    <div class="text-center complete-line" style="width: 70%;margin: auto">

        <h4 style="color:rgb(46, 154, 135);font-weight: 800">Services We Provide to Our Customers</h4>
        <p>We only provide the finest, modern and traditional new kitchens, created by UK architects and designers. We offer the UK the largest selection of Stocked Quality new kitchens. We will help you every step of your journey to get a new kitchen that is perfect for any occasion.</p>
        <p>Designing your new kitchen is extremely important and we will help you in building your dream kitchen that will perfectly match your lifestyle. We think each kitchen needs to be professionally designed first to suit you. Our Process is simply we will provide you with a Free 15 Minute consultation we will contact you to find out what is important to you whether it’s Style, Price, Fitting everything in, the materials used, Appliances, Worktops and then we will provide a personalized new kitchen design that balance style, functionality and will be priced competitively. This will also help you to avoid any unnecessary errors that may occur due to poor planning of your kitchen. All our designers have more than 20 years of experience with published designs.</p>
        <p>In addition, we can also provide an exceptional full installation service for your kitchen units that will include removing your old kitchen, electrical work, plumbing work and minor building works.</p>
		<p>If you can't find what you are looking for, please ask, as we can also produce custom kitchens.</p>
    </div>
            <div class="my-1" style="width: min-content;margin: auto" >
            <video  height="580px" id="video1" class="video" poster="{% static  'imgs/New_Traditional_kitchen_in_Denim cambridge.jpg' %}" controls preload="none" muted>
                <source src="{% static 'videos/base.mov' %}" type="video/mp4">
            </video>
        </div>


    {#  kitchens style section   #}


    <div class="row ml-0 mr-0 mt-5 newPosition mtb">
        <div class="col-md-6 p-0 text-center" style="">
            <video height="380px" id="video" controls poster="{% static 'imgs/New Traditional fitted Kitchens in indigo cartmel.jpg' %}" preload="none" >
                <source src="{% static 'videos/main.mp4' %}" type="video/mp4">
            </video>
{#            <video src="{% static 'videos/main.mp4' %}" height="674px" width="400px"></video>#}
        </div>
        <div class="col-md-6 p-5 bg-light">
            <h2>Samples</h2>
            <p>
                Due to COVID-19 and for the protection of our team all showroom visits need to be by appointment only. Showroom visits are limited to 20-30 minutes. If you require new kitchen samples, we are happy to post samples free of charge. But you have to cover the cost of postage and packaging for new kitchen samples.
            </p>
            <a class="btn btn-success" href="{% url 'application:contact' %}">Get Free Sample</a>
        </div>
    </div>

    <div class="my-5 ">
        <div>
            <h4 style="color: rgb(46, 154, 135);font-weight: 800" class="text-center">Latest Kitchen Trends</h4>
            <div class="row m-0 justify-content-around menu">
                {% for item in blog %}
                    <div class="card shadow col-lg-4 p-0 date my-3" id="blog" style="max-width: 27%;">
                        <img src="{{ item.get_photo_url }}" loading="lazy" height="240px" class="card-img-top" alt="Blog image">
                        <div class="card-body p-3 d-flex">
                            <div style="height: min-content;background-color: rgb(46, 154, 135);color: white;border-radius: 4px"
                                 class="p-3 date2 ">
                                <h2 class="m-0">{{ item.timestamp|date:'d' }}</h2>
                                <h5 class="m-0">{{ item.timestamp|date:'M' }}</h5>
                            </div>
                            <div class="p-3">
                                <h4 class="card-title m-0">{{ item.title }}</h4>

                                <p class="m-0">{{ item.text|safe|truncatechars_html:20 }}</p>
                                <a href="{% url 'application:blog-detail' item.slug item.pk %}">Read here</a>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>


    <div class="my-3 text-center">
        <h5 style="color:rgb(46, 154, 135);font-weight: 700 ">WANT TO KNOW MORE?</h5>
        <h3>Request a Free Brochure</h3>
        <hr/>
        <p>To request your copy of our brochure and see more of beautiful kitchen designs simply complete your details below, or alternatively call us on 08002118289</p>

        <div style="width: 80%;margin: auto">
            <form action="{% url 'application:index' %}" method="POST">
                {% csrf_token %}
                <div class="d-flex justify-content-between" id="display_b">
	                <input type="text" id="search_in" placeholder="TITLE" class="form-control-form mtb">
	                <input type="text" name="first" id="search_in"  placeholder="FIRST NAME" class="form-control-form mtb">
	                <input type="text" name="last" id="search_in"  placeholder="LAST NAME" class="form-control-form mtb">
                </div>

                <div class="d-flex justify-content-between my-3" id="display_b">
	                <input type="number" name="phone" id="search_in"  placeholder="MOBILE" required class="form-control-form mtb">
	                <input type="number" id="search_in"  placeholder="LANDLINE NUMBER"  class="form-control-form mtb">
	                <input type="email" name="email" id="search_in"  placeholder="EMAIL ADDRESS" required class="form-control-form mtb">
                </div>
	            <input type="text" name="detail" class="form-control-form1 mb-2" placeholder="POSTCODE">

	            <label for="" class="d-block m-0">Would you like a free design visit?
	            </label>
	            <span class="mr-1">Yes</span><input type="radio" name="visit" class="mr-2">
	            <span class="mr-1">No</span><input type="radio" name="visit"><br/>
                <button class="btn btn-success mt-2">Send Brochure</button>
            </form>
        </div>

    </div>

	<div class="mt-5 text-center mb-2" style="width: min-content;margin: auto" id="search_in">
		<h3 style="color:rgb(46, 154, 135);">Our Appliances Brand</h3>
		<img src="{% static 'imgs/logoes.jpg' %}" id="brand" loading="lazy" height="100px" alt="tkc-kitchen logos">
	</div>




{% endblock %}

<div id="pop-up" class="pop-up p-2 px-4 bg-white" style="display: none">
	            <div class="">
		            <p class="m-0 align-self-end">Hi,</p>
		            <p class="m-0">My name is Andy.</p>
		            <p class="m-0">How can I help?</p>
		            <p class="link-style m-0" onclick="closePopup(event)">Close</p>
	            </div>
	        </div>

<div class="chat-div " style="z-index: 1;display: block;" onclick="openChat(event)" id="chat-face">
		        <img src="{% static 'imgs/chat.jpg' %}" height="80px" width="90px" alt="Chat Kitchen image">
	        </div>

<div class="border w-chat chat-position " id="chatDiv" style="z-index: 2;display: none">
				<div class="p-5 bg-gradient text-white new-p-1">
					<div>
						<div class="text-right">
							<p class="m-0 text-white ml-auto" onclick="closeChat(event)" style="font-size: 20px;cursor:pointer;width: fit-content">x</p>
						</div>
						<h6>Have a question?</h6>
						<p class="m-0">Drop a note to our customer care team and we'd be glad to assist you!</p>
					</div>
					<div class="row m-0 my-3">
						<div class="col-4 align-self-center p-0">
							<img src="{% static 'imgs/New_High_Gloss_anthracite_Kitchens ascot.jpg' %}" class="chat-img" alt="TKC kitchen images" style="border-radius: 50%"  height="110px" width="120px">
						</div>
					</div>
				</div>


				{#		Chat template to be included here        #}
	            <div style="height: 45vh;overflow: auto" class="bg-white" id="messages1">
		            {% if request.user.is_authenticated %}
		            {% include 'adminPanel/room_detail.html' %}
		            {% else %}
			            <p>Click here to login to chat with our customer care representative. <a href="{% url 'application:login' %}">Login</a></p>
		            {% endif %}
	            </div>
	        </div>

{# including the footer #}
{% include './inc/footer.html' %}
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/609067a2b1d5182476b53fef/1f4q19l6a';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
</body>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WKLM57GY6R"></script>
    <script async>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-WKLM57GY6R');




    </script>

<!-- Facebook Pixel Code --><script>!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,document,'script','https://connect.facebook.net/en_US/fbevents.js'); fbq('init', '244190073982241'); fbq('track', 'PageView');</script><noscript> <img height="1" width="1" src="https://www.facebook.com/tr?id=244190073982241&ev=PageView&noscript=1"/></noscript><!-- End Facebook Pixel Code -->

<script async type="text/javascript" src="{% static 'js/index.js' %}">

</script>
{% block script %}

<script async src="{% static 'js/base.js' %}" type="text/javascript">


</script>

{% endblock %}

</html>