{% extends 'base.html' %}

{% block content %}
    {% if cart %}
    <div class='container my-4' id="container_remove">
    <p id="info"></p>
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Product</th>
                    <th>Description</th>
{#                    {% if size %}#}
{#                        <th>Size</th>#}
{#                    {% endif %}#}
                    <th>Quantity</th>
                    <th>Price(£)</th>
                    <th class="text-center">Option</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart %}
                    <tr>
                        {% if item.worktop %}
                        <td><img src="{{ item.worktop.get_photo_url }}" height="30px" alt=""></td>
                        <td>{{ item.worktop }}</td>
                        <td>{{ item.worktop.description|truncatewords:3 }}</td>
                        <td style="width: 20%" id="search_in">
                            <input type="number" onchange="changing(event,`{{ item.worktop.pk }}`,'worktop','update')"
                                   id="search_in"
                                   class="form-control" min="1" style="width: 60%!important;"
                                   value="{{ item.qty }}" name="qty"></td>


                        <td>{{ item.worktop.price }}</td>
                        <td class="text-center"><a class="m-0 text-center" style="text-decoration: none;width: fit-content;color: red;cursor: pointer"
                        onclick="remove_cart(event,{{ item.worktop.pk }},'delete','worktop')
                                       ">x</a></td>

                        {% elif item.appliances %}
                        <td><img src="{{ item.appliances.get_photo_url }}" height="30px" alt=""></td>
                        <td>{{ item.appliances|truncatewords:4 }}</td>
                        <td>{{ item.appliances.description|truncatewords:3 }}</td>
                            <td style="width: 20%" id="search_in">

                                <input type="number" class="form-control" id="search_in" min="1" style="width: 60%!important;"
                                       onchange="changing(event,`{{ item.appliances.pk }}`,'appliance','update')"
                                   value="{{ item.qty }}" name="qty"></td>
                        <td>{{ item.appliances.price }}</td>

                        <td class="text-center"><a id="search_in"
                        onclick="remove_cart(event,{{ item.appliances.pk }},'delete','appliance')"
                                class="m-0" style="text-decoration: none;width: fit-content;color: red;cursor: pointer">x</a></td>


                        {% elif item.service %}
                        <td>{{ item.service }}</td>
                        <td>Designing service</td>
                            <td>1</td>
                        <td>50</td>

                        <td><a
                        onclick="remove_cart(event,1,'delete','service')"
                                class="m-0" style="text-decoration: none;width: fit-content;color: red;cursor: pointer">x</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% for item in cart %}
        {% if item.kitchen_order %}
            <div class="container my-2">
                <div class="card shadow p-3 border-rounded">
                <div class="card-title d-flex justify-content-between">
                    <h5 class="m-0">Kitchen: {{ item.kitchen_order.kitchen }}</h5>
                    <a onclick="remove_cart(event,{{ item.kitchen_order.pk }},'delete',`{{ item.kitchen_order.kitchen.color }}`)" style="color: white;text-decoration: none" class="btn btn-danger">X</a>
                </div>
                    <div class="card-body">
                    {% if item.kitchen_order.units.all %}
                        <p class="m-0">Units purchased are:</p>
                        <ul>
                            {% for i in item.kitchen_order.units.all %}
                            <li>{{ i }} -- {{ i.unit_type }} -- {{ i.sku }} -- £ {{ i.price }}</li>
                            {% endfor %}
                        </ul>
                        {% else %}
                            <h5>No units</h5>
                        {% endif %}
                        <p class="m-0"><b>Door color:</b> {{ item.kitchen_order.door.door_color }}</p>
                        <p><b>Cabnet color:</b> {{ item.kitchen_order.cabnet.cabnet_color }}</p>
                        <p>All our cabnets come with doors unless specified</p>
                    </div>
                </div>
            <div>
        {% endif %}


        </div>
    </div>

    {% endfor %}
    <div class="container my-2">
    <h3>Grand total(including VAT): £ {{ total }}</h3>
        <a href="" class="btn btn-success">Proceed to checkout</a>
    </div>
    </div>
    {% else %}
        <div class="alert alert-primary text-center my-3" role="alert">
            No item in the cart. <a href="{% url 'application:index' %}">Start adding now!!</a>
        </div>
    {% endif %}
    <script>
        function remove_cart(e,pk,process,pro){
            console.log(pk,process,pro)
            const base_url = 'http://127.0.0.1:8000/add-to-cart'
            fetch(`${base_url}/${pro}/appliance/${pk}/1/${process}/`)

            .then((res)=>{
                return res.json()
            })
            .then((result)=>{
                console.log(result)
                const p =document.getElementById('info')
                p.style.color = 'red'
                p.innerHTML = 'Removed from cart!!!'
                setTimeout(()=>{
                    p.innerHTML = ''
                    location.reload()
                },1500)
            })
        }

        function changing(e,pk,name,status){
            console.log(e.target.value,pk,name,status)
            const qty = e.target.value
            const base_url = 'http://127.0.0.1:8000/add-to-cart'
            const p =document.getElementById('info')

            fetch(`${base_url}/${name}/any/${pk}/${qty}/${status}`)
            .then((res)=>{
                return
            })
            .then((result)=>{
                p.innerHTML = 'Updated!!';
                p.style.color = 'green'
                setTimeout(()=>{
                    p.innerHTML = ''
                    location.reload()
                },1500)
            })
        }
    </script>
{% endblock %}