{% extends 'base.html'%}
    {% block meta %}
        <meta name="{{ name }}" content="{{ description }}">
        <title>{{ title }}</title>

    {% endblock %}
{% block content %}

    <div style="width: 40%;margin: auto" class="border p-5 my-3" id="search_in">
        <form action="{% url 'application:installation_contact' %}" method="POST">
            {% csrf_token %}
            {% if messages %}
            {% for msg in messages %}
            <p class="alert alert-primary" role="alert">{{ msg }}</p>
            {% endfor %}
        {% endif %}
            <h3 class="text-center">Installation form</h3>
            <label for="" class="d-block">
                Name
                <input placeholder="Name" required type="text" name="name" class="form-control">
            </label>

            <label for="" class="d-block">
                Email Address
                <input placeholder="Email" required type="email" name="email" class="form-control">
            </label>

            <label for="" class="d-block">
                Phone Number
                <input placeholder="Phone Number" required type="number" name="phone" class="form-control">
            </label>

            <label for="" class="d-block">
                Site Address
                <input placeholder="Site Address" required type="text" name="address" class="form-control">
            </label>

            <label for="" class="d-block my-4">
                Is room ready to measure?<br/>
                <input type="radio" required name="measure" value="True"><span class="ml-2">Yes</span><br/>
                <input type="radio" required name="measure" value="False"><span class="ml-2">No</span>
            </label>

            <label for="" class="d-block my-4">
                Do you want us to remove the old kitchen?<br/>
                <input type="radio" required name="old" value="True"><span class="ml-2">Yes</span><br/>
                <input type="radio" required name="old" value="False"><span class="ml-2">No</span>
            </label>

            <label for="" class="d-block my-4">
                Do you require Plastering, Plumbing & Electrics?<br/>
                <input type="radio" required name="ee" value="True"><span class="ml-2">Yes</span><br/>
                <input type="radio" required name="ee" value="False"><span class="ml-2">No</span>
            </label>

            <label for="" class="d-block my-4">
                What is your budget on the project Including Cabinets, Worktops, Appliances, Accessories and Installation?<br/>
                <input type="radio" required name="price" value="12,000-"><span class="ml-2">£ 10,000-12,000</span><br/>
                <input type="radio" required name="price" value="14,000-"><span class="ml-2">£ 12,000-14,000</span><br/>
                <input type="radio" required name="price" value="16,000-"><span class="ml-2">£ 14,000-16,000</span><br/>
                <input type="radio" required name="price" value="18,000-"><span class="ml-2">£ 16,000-18,000</span><br/>

                <input type="radio" required name="price" value="20,000+" ><span class="ml-2">£ 20,000+</span>
            </label>


            <label for="" class="d-block">
                Anything else you want to tell us?
                <textarea placeholder="Additional Detail" class="form-control" name="detail"></textarea>
            </label>
            <button class="btn btn-success">Submit</button>
        </form>
    </div>



{% endblock %}