{% extends 'base.html' %}

{% block content %}

    <div class="p-5 border my-4" style="width: 30%;margin: auto">
        <form action="{% url 'application:choose' intermediate_model.pk %}" method="POST">
            {% csrf_token %}
            <h3 class="text-center">Choose colors</h3>
            <select name="door" id="" class="form-control">
                <option value="">Select a door color</option>
                {% for item in door %}
                    <option value="{{ item.door_color }}">{{ item.door_color }}</option>
                {% endfor %}
            </select>

            <select name="cabnet" id="" class="form-control my-3">
                <option value="">Select a cabnet color</option>
                {% for item in cabnets %}
                    <option value="{{ item.cabnet_color }}">{{ item.cabnet_color }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-success w-100"><input type="text" hidden name="cart" value="cart">Go to cart</button>
            <button class="btn btn-info mt-2 w-100"><input type="text" hidden name="cart1" value="browse">Continue browsing</button>
        </form>
    </div>


{% endblock %}