{% extends 'base.html' %}
{% block meta %}
        <meta name="{{ name }}" content="{{ description }}">
        <title>{{ title }}</title>
{% endblock %}
{% block content %}
    {% if wishlist %}
    <div class="container my-3" id="container_remove">
    <h3 class="my-3">My Wishlist</h3>
    <p id="info"></p>
        <table class="table table-striped table-responsive1" >
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Product</th>
                    <th>Description</th>
                    <th>Price(£)</th>
                    <th class="wishlistth">Cart</th>
                    <th>Option</th>
                </tr>
            </thead>
            <tbody>
                {% for item in wishlist %}
                    <tr>
                        {% if item.worktop %}
                        <td><img src="{{ item.worktop.get_photo_url }}" height="45px" width="40px" alt=""></td>
                        <td>{{ item.worktop|truncatewords:3 }}</td>
                        <td>{{ item.worktop.description|truncatewords:3 }}</td>
                        <td>{{ item.worktop.price }}</td>
                        <td><a onclick="the_cart(event,{{ item.worktop.pk }},'create','worktop')"
                        class="btn btn-success">
                            Add to cart
                        </a></td>
                        <td><a href="{% url 'application:worktop-detail-view' 'worktop' item.worktop.category.slug item.worktop.pk %}">Detail</a></td>


                        {% elif item.appliances %}
                        <td><img src="{{ item.appliances.get_photo_url }}" height="45px" width="40px" alt=""></td>
                        <td>{{ item.appliances|truncatewords:3 }}</td>
                        <td>{{ item.appliances.description|truncatewords:3 }}</td>
                        <td>{{ item.appliances.price }}</td>
                        <td>
                            <a onclick="the_cart(event,{{ item.appliances.pk }},'create','appliance')"
                               class="btn btn-success">
                                Add to cart
                            </a>
                        </td>
                            <td><a href="{% url 'application:worktop-detail-view' 'appliance' item.appliances.category.slug item.appliances.pk %}">Detail</a></td>


                        {% elif item.accessories %}
                        <td><img src="{{ item.accessories.get_photo_url }}" height="45px" width="40px" alt=""></td>
                        <td>{{ item.accessories.accessories_type|truncatewords:3 }}</td>
                        <td>{{ item.accessories.description|truncatewords:3 }}</td>
                        <td>{{ item.accessories.price }}</td>
                        <td>
                            <a onclick="the_cart(event,{{ item.appliances.pk }},'create','accessories')"
                               class="btn btn-success">
                                Add to cart
                            </a>
                        </td>
                            <td><a href="{% url 'application:accessories-detail' item.accessories.slug item.accessories.pk %}">Detail</a></td>

                        {% endif %}

{#                        <td ><p class="m-0" style="width: fit-content;color: red;cursor: pointer">x</p></td>#}


{#                        {% elif item.service %}#}
{#                        <td>{{ item.service }}</td>#}
{#                        <td>Designing service</td>#}
{#                        <td>£ 50</td>#}
{##}
{#                        <td>X</td>#}

                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    {% else %}
        <div class="alert alert-primary text-center my-3" role="alert">
            Nothing in the wishlist!!
        </div>
    {% endif %}
    <script>

        function the_cart(e,pk,process,pro){
            console.log(pk,process,pro)
            {# http://127.0.0.1:8000/  https://tkc-kitchen.nw.r.appspot.com #}
            const base_url = `${origin}/add-to-cart`
            fetch(`${base_url}/${pro}/appliance/${pk}/1/${process}/`)

            .then((res)=>{
                return res.json()
            })
            .then((result)=>{
                const p =document.getElementById('info')
                p.style.color = 'green'
                p.innerHTML = 'Added to cart!!!'
                setTimeout(()=>{
                    p.innerHTML = ''
                    location.reload()
                },1500)
                cart_count('e')
            })
        }

    </script>

{% endblock %}