{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load custom_tag %}
    {% block meta %}
        <meta name="{{ name }}" content="{{ description }}">
        <title>{{ title }}</title>

    {% endblock %}
{% block content %}
    {% if list %}
    <div class="my-3">
    {% ifequal product 'worktop' %}
{#   filter form of worktop     #}
        {% if stone %}
            <div class="container">
                <h3>Stone Worktops</h3>
                <p>We can supply all stone worktops Marble, Granite, Quartz and Onyx. We supply branded and unbranded both stone worktops. But we will only provide a price if you buy a kitchen with design and installation from us</p>

            </div>
        {% else %}
        <div class="bg-light p-2 mb-3">
            <form method="GET" id="remove_form" onsubmit="" style="width: 80%;margin: auto"
                  class="d-flex justify-content-around my-2 menu" action="{% url 'application:worktop-view' list.first.category.pk %}">
                <select name="name__iexact" id="search_in" class="form-control" style="width: 17%">
                    <option value="">Select Name</option>
                    {% for i in select %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
{#                {{ search.form }}#}
                <label class="align-self-center">Min value: £ <span id="output_min">100</span></label>
                <input type="range" name="price__gte" id="search_in" class="menu bottom" value="100" oninput="change(event)" step="any" max="500" min="100">
                <label for="" class="align-self-center">Max Value: £ <span id="output_max">500</span></label>
                <input type="range" name="price__lte" id="search_in" class="menu bottom" value="500" step="any" max="500" min="100" oninput="change(event)">

                <button class="btn btn-success align-self-center">Apply Filter</button>
                <a href="{% url 'application:worktop-view' list.first.category.pk %}" class="align-self-center btn btn-secondary">Remove Filters</a>
            </form>

        </div>

        <div class="container text-center my-2">
                <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="{% new_url 1 'page' request.GET.urlencode %}">&laquo; first</a>
            <a href="{% new_url page_obj.previous_page_number 'page' request.GET.urlencode %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="{% new_url page_obj.next_page_number 'page' request.GET.urlencode %}">next</a>
            <a href="{% new_url page_obj.paginator.num_pages 'page' request.GET.urlencode %}">last &raquo;</a>
        {% endif %}
    </span>
            </div>

{#   Wokrtop list     #}
        {% for item in list %}
            <div class="border border-rounded d-flex mb-5 menu " id="search_in" style="width: 60%;margin: auto">
                <div style="width: fit-content;" id="contain">
                    <img src="{{ item.get_photo_url }}" loading="lazy" class="img1" height="245px" width="367px"     alt="">
                </div>

                <div class="align-self-center ml-5" id="contain">
                    <h5 style="color: rgb(46, 154, 135)"><a href="{% url 'application:worktop-detail-view' 'worktop' item.pk %}" style="color:rgb(46, 154, 135)" >{{ item }}</a></h5>
                    <h4>£ {{ item.price|floatformat:"0" }}</h4>
                    <p>{{ item.description }}</p>
                    <p class="m-0">Dimension/Size: {{ item.size }}</p>
                    <p class="m-0" style="color: green;font-weight: 700" id="add{{ item.pk }}"></p>

{#                    <input type="number" class="" style="width: 40%;display: inline" >#}
                    <a onclick="add_cart_1(event,{{ item.pk }},'create','worktop')"
                       class="btn btn-success">Add to cart</a>
                    <a href="{% url 'application:wishlist' 'worktop' item.pk %}"><img src="{% static 'Svg/heart-regular.svg' %}" height="25px" style="   color: red" alt=""></a>
                    <a onclick="add_cart_1(event,{{ item.pk }},'create','worktop')" class="btn btn-secondary my-1">Order sample</a>
                </div>
            </div>

        {% endfor %}

        {% endif %}

{#   Appliances part     #}

    {% else  %}

        {% if list %}

{#    Filter form of appliances        #}
            <div class="bg-light p-2 mb-3">
            <form method="GET" id="remove_form" style="width: 80%;margin: auto"
                  class="d-flex justify-content-around my-2 menu" action="{% url 'application:appliances-list' list.first.category.pk %}">
{#                {{ search.form }}#}
                <select name="appliance_category__iexact" id="search_in" class="form-control bottom" style="width: 17%">
                    <option value="">Select a category</option>
                    {% for item in select %}
                        <option value="{{ item }}">{{ item }}</option>
                    {% endfor %}
                </select>
                <label class="align-self-center">Min value: £ <span id="output_min">100</span></label>
                <input type="range" name="price__gte" id="search_in" class="menu bottom" value="100" oninput="change(event)" step="any" max="500" min="100">
                <label for="" class="align-self-center">Max Value: £ <span id="output_max">500</span></label>
                <input type="range" name="price__lte" class="menu bottom" id="search_in" value="500" step="any" max="500" min="100" oninput="change(event)">

                <button class="btn btn-success align-self-center">Apply Filter</button>
                <a href="{% url 'application:appliances-list' list.first.category.pk %}" class="align-self-center btn btn-secondary">Remove Filters</a>
            </form>

        </div>

        <div class="container text-center my-2">
                <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="{% new_url 1 'page' request.GET.urlencode %}">&laquo; first</a>
            <a href="{% new_url page_obj.previous_page_number 'page' request.GET.urlencode %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="{% new_url page_obj.next_page_number 'page' request.GET.urlencode %}">next</a>
            <a href="{% new_url page_obj.paginator.num_pages 'page' request.GET.urlencode %}">last &raquo;</a>
        {% endif %}
    </span>
            </div>

        {% for item in list %}

            <div class="border border-rounded d-flex justify-content-around mb-5 menu" id="search_in" style="width: 60%;margin: auto">
                <div style="width: fit-content;" id="contain">
                    <img src="{{ item.get_photo_url }}" loading="lazy" id="k_img" height="245px"       alt="">
                </div>

                <div class="align-self-center ml-5" style="width: 374px" id="contain">
                    <h5 style="color: rgb(46, 154, 135)"><a style="color: rgb(46, 154, 135)" href="{% url 'application:worktop-detail-view' 'appliance' item.pk %}" >{{ item }}</a></h5>
                    <h4>£ {{ item.price|floatformat:"0" }}</h4>
                    <p>{{ item.description|truncatewords:15 }}</p>
                    <p>Type: {{ item.appliances_type }}</p>
                    <p>Brand: {{ item.brand_name }}</p>
{#                    <input type="number" class="" style="width: 40%;display: inline" >#}
                    <p class="m-0" style="color: green;font-weight: 700" id="add{{ item.pk }}"></p>

                    <a onclick="add_cart_1(event,{{ item.pk }},'create','appliance')"
                       class="btn btn-success">Add to cart</a>
                    <a href="{% url 'application:wishlist' 'appliance' item.pk %}"><img src="{% static 'Svg/heart-regular.svg' %}" height="25px" style="   color: red" alt=""></a>
                </div>
            </div>

        {% endfor %}

        {% else %}
        <div class="alert alert-primary text-center mt-2" role="alert">
            No item matching your query was found!!
            <a href="{% url 'application:index' %}">Back to main page</a>
        </div>
        {% endif %}
    {% endifequal %}
    </div>
    {% else %}
        <div class="alert alert-primary text-center" role="alert">
            We have noting that matches your filters!!!
        </div>
    {% endif %}

{% endblock %}
{% block script %}
    <script>

        const out_max = document.getElementById('output_max')
        const out_min = document.getElementById('output_min')
        function change(e){
            e.target.previousElementSibling.firstElementChild.innerHTML = parseInt(e.target.value)

        }

            function add_cart_1(e,pk,process,pro){
            {#https://tkc-kitchen.nw.r.appspot.com#}
            const base_url = `${origin}/add-to-cart`
            let url = `${base_url}/${pro}/appliance/${pk}/1/${process}/`
            if (e.target.innerText==='Order sample'){
                url = `${base_url}/${pro}/sample/${pk}/1/${process}/`
            }
            fetch(url)

            .then((res)=>{
                return res.url
            })
            .then((result)=>{
                const check = result.split('/')
                if (check[3]==='login'){
                    location.replace(result)
                }
                else{
                const p = document.getElementById(`add${pk}`)
                p.innerHTML = 'Added to cart!!'
                setTimeout(()=>{
                    p.innerHTML = ''
                },1500)
                }
                cart_count('e')

            })


        }



    </script>

{% endblock %}