{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_jquery %}

{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>

    <script  src="https://kit.fontawesome.com/359826513d.js" crossorigin="anonymous"></script>
    <title>Kitchen</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

</head>
<body>
    <div>
        <h2 style="text-align: center;color: rgb(46, 154, 135)">TKC KITCHENS</h2>
        <p>Hi,</p>
        <p>Thank you for registering with TKC Kitchens. This message confirms that you have been successfully registered and subscribed.</p>
        <p>You can now view our latest offers and prices by logging into ww.tkckitchens.co.uk our website. </p>
        <p>Click on the link below to login now.</p>
        <a href="https://tkckitchens.co.uk/login/">Login</a>
        <p>I hope you don’t mind from time to time we will be sending you emails about our latest offers and free stuff as well as news about the latest kitchen trends.</p>
        <p>If you have any questions or comments about the content you’re receiving please email back and we will respond to your inquiry promptly.</p>

        <p>Sincerely,</p>
        <small>service@tkckitchens.co.uk</small>

        <h4> TKC KITCHENS</h4>

        <hr style="color: rgb(46, 154, 135)"/>
{#        <img src="https://tkc-kitchen.nw.r.appspot.com/static/imgs/email_all.png" alt="">#}
{#        <img src="{% static 'imgs/email_all.png' %}" height="100px" alt="">#}
        <p> 08002118289</p>
        <p>service@tkckitchens.co.uk</p>
        <p> www.tkckitchens.co.uk</p>
        <p>International House, Mosley Street, Manchester, M2 3HZ</p>

        <hr style="color: rgb(46, 154, 135)"/>

        <div >
            <h3 style="color: rgb(46, 154, 135)">TKC KITCHENS</h3>
            <div style="align-self: center;display: flex;justify-content: space-between">
                <img src="https://tkc-kitchen.nw.r.appspot.com/static/imgs/email_face.png" style="align-self: center" height="30px" alt="">
                <img src="https://tkc-kitchen.nw.r.appspot.com/static/imgs/email_insta.png" style="align-self: center" alt="" height="30px">
            </div>
        </div>

        <p style="text-align: center;text-decoration: underline;color:rgb(46, 154, 135);font-weight: 800">Visit Our Store - Buy Now Pay Later - Free Delivery All Over the UK</p>
        <p>This e-mail is intended only for the addressee named above; it may contain information that is privileged or confidential. This e-mail may only be accessed, read, printed, retained, copied or disseminated by the named addressee or its authorized representative. If you have received this message in error, please notify us immediately, destroy any print-outs and delete all electronic files of this email</p>
    </div>

</body>
</html>