{% load static %}

<div class="modal fade" id="news">
    <div class="modal-dialog modal-dialog-centered">
        <div style="border: 4px solid green!important;" class="modal-content">
            <div class="modal-header">
                <h4 id="msg" class="text-center"></h4>

            </div>
        </div>

    </div>
</div>



<div class="bg-dark text-white p-4" id="footer">
    <div class="p-4" id="footer" style="width: 90%;margin: auto">
    <div class="row pb-2 m-0" id="search_in">
        <div class="col-lg-6 align-content-middle p-0" id="search_in">
            <h3 class="m-0 p-2">Signup for our Newsletter</h3>
        </div>

        <div class="col-lg-6 d-flex justify-content-right align-self-center" id="search_in" >
            <input type="email" placeholder="Your Email"  class="form-control" id="search_in" style="width: 50%!important;">
            <button data-target="#news" data-toggle="modal" onclick="subscribe1(event)" class=" btn btn-success " style="height: 70%">Subscribe</button>
                        <p id="sub" class="ml-2 align-self-center m-0"></p>
        </div>
    </div>
    <hr class="bg-white"/>
    <div class="d-flex justify-content-around block">
        <div class="">
            <p><i class="fas fa-map-marker-alt"></i><span class="p-2">International House, Mosley Street, Manchester M2 3HZ</span></p>
            <p><i class="fas fa-phone-alt align-self-center"></i><a style="color:inherit;text-decoration: none" href="tel:+08002118289" class="m-0 p-2">08002118289</a></p>
            <p><i class="fas fa-envelope align-self-center"></i><a style="color: inherit;text-decoration: none;" href="https://mail.google.com/mail/?view=cm&fs=1&to=service@tkckitchens.co.uk" class="m-0 p-2">service@tkckitchens.co.uk</a></p>
            <div class="my-3">
	            <img src="{% static 'imgs/Payment.png' %}" loading="lazy" id="pay" height="50px" alt="tkc-kitchen payment">
            </div>


        </div>
        <div class="align-self-baseline">
            <p>
                <a style="text-decoration: none;color: inherit" href="{% url 'application:terms' %}" class="a_btn mb-2">Terms & conditions</a>
</p>
            <p><a style="text-decoration: none;color: inherit" href="{% url 'application:shippping' %}" class="a_btn mb-2">Shipping and Delivery policy</a></p>
            <p><a class="a_btn" href="{% url 'application:contact' %}" style="text-decoration: none;color: inherit">Customer Service</a>
</p>
            <p><a href="{% url 'application:FAQ' %}" class="a_btn" style="color: inherit;text-decoration: none">FAQs</a></p>
        </div>
        <div class="">
            <p><a href="{% url 'application:return-policy' %}" class="a_btn" style="color: inherit;text-decoration: none">Return & Refund policy</a></p>
            <p><a href="{% url 'application:canel' %}" class="a_btn" style="color: inherit;text-decoration: none">Cancellation policy</a></p>
            <p><a href="{% url 'application:GDPR' %}" class="a_btn" style="color: inherit;text-decoration: none">GDPR policy</a></p>
            <p><a href="{% url 'application:cookies' %}" class="a_btn" style="color: inherit;text-decoration: none">Cookies policy</a></p>
            <p><a href="{% url 'application:intelectual' %}" class="a_btn" style="color: inherit;text-decoration: none">Intellectual property notification</a></p>
            <p><a href="{% url 'application:disclaimer' %}" class="a_btn" style="color: inherit;text-decoration: none">Disclaimer policy</a></p>
            <p><a class="a_btn" style="color: inherit;text-decoration: none">Ziegal Ltd(10914681)</a></p>

        </div>
        <div class="">
            <a href="https://www.facebook.com/tkckitchens.co.uk" class="d-block" style="margin-bottom: 1rem;color: inherit;text-decoration: none"><i class="fab fa-facebook-f"></i><span class="pl-2">Facebook</span></a>
            <a href="https://www.pinterest.co.uk/TKCkitchens/_created/" class="d-block" style="margin-bottom: 1rem;color: inherit;text-decoration: none"><i class="fab fa-pinterest-p"></i><span class="pl-2">Pinterest</span></a>
            <a href="https://www.instagram.com/tkckitchens.co.uk/" class="d-block" style="margin-bottom: 1rem;color: inherit;text-decoration: none"><i class="fab fa-instagram"></i><span class="pl-2">Instagram</span></a>
        </div>
    </div>
</div>
    <p class="text-center border-top border-bottom m-0 p-3">Copyright&copy; 2021 TKC KITCHENS</p>
{#    <p class="text-center m-0 p-1">All icons are property of <a href="https://fontawesome.com/">Font Awesome</a></p>#}
</div>