{% extends 'base.html' %}
{% load static %}
    {% block meta %}
        <meta name="{{ name }}" content="{{ description }}">
        <title>{{ title }}</title>

    {% endblock %}
{% block content %}
    <div class="my-4">
		<div class="my-4" style="width: min-content;margin: auto">
			<video src="{% static 'videos/install4.mp4' %}" class="video" height="400px" id="video" controls muted autoplay></video>
		</div>

        <div class="p-3 d-flex justify-content-around mt-3 menu" id="container_remove">
            <div style="width: 40%" class="text-center" id="search_in">
                <h1 class='' style="color: rgb(46, 154, 135)">Full Kitchen Installation Service </h1>
                <h2>Overview</h2>
	            <a href="{% url 'application:installation_contact' %}" class="btn btn-success btn-lg my-2">Contact Us</a>

            </div>
            <div style="width: 60%" id="contain">
                <p>We know how discomforting it can be for a home owner when we are installing kitchens in an occupied house. Our team of experienced fitters would do their best to minimize this discomfort and hasten the process so that you can enjoy the quiet in your house once more. The materials we used during the installation and packaging processes are removed from. This leaves your dream multifunctional kitchen glaring at you and ready to be used..</p>
            </div>
        </div>

        <div class="row p-2 mt-5" style="width: 90%;margin: auto">


            <div class="col-md-3 my-2">
                <div class="card hoverEffect shadow" style="max-width:90%;">
                  <div class="card-body ">
                    <div class="d-flex justify-content-between">
                        <h2 style="font-weight: 800" class="card-title m-0 align-self-center counter-count">436</h2>
                          <i class="far fa-handshake align-self-center" style="font-size: xx-large"></i>
                    </div>
                      <p style="font-weight: 500" class="text-left m-0">Satisfied Clients</p>
                  </div>
                </div>
            </div>


            <div class="col-md-3 my-2">
                <div class="card hoverEffect shadow" style="max-width:90%;">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h2 class="card-title m-0 align-self-center counter-count" style="font-weight: 800">110</h2>
                          <i class="far fa-handshake align-self-center" style="font-size: xx-large"></i>
                    </div>
                      <p style="font-weight: 500" class="text-left m-0">Design Plans</p>
                  </div>
                </div>

            </div>


            <div class="col-md-3 my-2">
                <div class="card hoverEffect shadow" style="max-width:90%;">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex">
                            <h3 style="font-weight: 800" class="card-title m-0 align-self-center counter-count">1250</h3>
                            <span class="align-self-center" style="font-size: x-large">+</span>
                        </div>
                          <i class="far fa-handshake align-self-center" style="font-size: xx-large"></i>
                    </div>
                      <p style="font-weight: 500" class="text-left m-0 ">Combined Experience</p>
                  </div>
                </div>

            </div>


            <div class="col-md-3 my-2">
                <div class="card hoverEffect shadow" style="max-width:90%;">
                  <div class="card-body ">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex">
                            <h3 style="font-weight: 800" class="card-title m-0 align-self-center counter-count">300</h3>

                            <span class="align-self-center" style="font-size: x-large">+</span>
                        </div>
                          <i class="far fa-handshake align-self-center" style="font-size: xx-large"></i>
                    </div>
                      <p style="font-weight: 500" class="text-left m-0">Completed Projects</p>
                  </div>
                </div>

            </div>
        </div>

        <hr class="mt-5"/>

        <div class=" my-3" style="width: 60%;margin: auto" id="contain">
            <div class="row m-0 my-2 bg-light justify-content-between" >
                <img class="col-lg-6 p-0" height="282px" src="{% static 'imgs/install16.JPG' %}" alt="installation image">
                <div class="col-lg-6 align-self-center">
                    <h3 style="color: rgb(46, 154, 135)">This is how it begins</h3>
                    <p>We can handle your project from start to finish including planning, design, installation and minor building works that we may encounter.</p>
                </div>
            </div>
            <div class="row m-0 my-5 bg-light justify-content-between" >
                <img class="col-lg-6 p-0" height="282px" src="{% static 'imgs/install21.JPG' %}" alt="installation image">
                <div class="col-lg-6 align-self-center">
                    <h3 style="color: rgb(46, 154, 135)">Clean work flow</h3>
                    <p>Removal of the existing kitchen and all the necessary disconnections & reconnections that needs to be made is our responsibility.</p>
                </div>
            </div>
            <div class="row m-0 bg-light justify-content-between">
                <img class="col-lg-6 p-0" height="282px" src="{% static 'imgs/install4.JPG' %}" alt="installation image">
                <div class="col-lg-6 align-self-center">
                    <h3 style="color: rgb(46, 154, 135)">There is experience out there</h3>
                    <p>Our Workman are well Experienced & Qualified. All with a guarantee on the workmanship and the products we will provide.</p>
                </div>
            </div>
        </div>
    </div>



        <div style="width: 60%;margin: auto" class="my-2" id="contain">
            <h2>Our Story</h2>
            <p>We believe in creativity as one of the major forces of progress. With this idea, we traveled throughout country to find exceptional artisans and bring their unique handcrafted objects to connoisseurs everywhere.
            </p>
            <p>You’ve finally reached this point in your life- you’ve bought your first home, moved into your very own apartment, moved out of the student accommodation or you’re finally downsizing after all of your kids have left the nest.</p></p>
        </div>



        <div class="text-center my-3">
            <video height="400px" id="video1" controls muted>
                <source src="{% static 'videos/kitchen-carpenter-handmade-fitting 720p 30fps.mp4' %}" type="video/mp4">
            </video>
        </div>

    <div class="text-center my-5" >
            <a href="{% url 'application:installation_contact' %}" class="btn btn-success btn-lg">Installation services</a>
        </div>


	<div class="text-center">
		<h2 style="color:rgb(46, 154, 135);">Kitchen Installation Guides</h2>
		<p>Easy to follow video guidelines to install kitchen units.</p>

		<div class="mb-5" style="width: fit-content;margin: auto">
			<h4 style="color: rgb(46, 154, 135)">Watch video to see how quick and easy it is to assemble our units</h4>
			<video src="{% static 'videos/Pull out larder.mp4' %}" class="video" id="video3" height="400px" controls muted></video>
		</div>

		<div class="text-center mt-5">

            <video height="400px" id="video4" class="mt-3 video" controls muted>

                <source src="{% static 'videos/kitcehn fittings 720p 30fps.mp4' %}" type="video/mp4">
            </video>
        </div>

	</div>



{% endblock %}
{% block script %}
    <script>
        const video = document.getElementById('video1')
        const video3 = document.getElementById('video3')
        const video4 = document.getElementById('video4')


    window.addEventListener('scroll',()=> {
        const sides = video.getBoundingClientRect()
	    const side3 = video3.getBoundingClientRect()
	    const side4 = video3.getBoundingClientRect()
        if (sides.top >= 0 &&
            sides.left >= 0 &&
            sides.right <= (window.innerWidth || document.documentElement.clientWidth) &&
            sides.bottom <= (window.innerHeight || document.documentElement.clientHeight)) {
            video.play()
        }
         if (side3.top >= 0 &&
            side3.left >= 0 &&
            side3.right <= (window.innerWidth || document.documentElement.clientWidth) &&
            side3.bottom <= (window.innerHeight || document.documentElement.clientHeight)) {
            video3.play()
        }
        if (side4.top >= 0 &&
            side4.left >= 0 &&
            side4.right <= (window.innerWidth || document.documentElement.clientWidth) &&
            side4.bottom <= (window.innerHeight || document.documentElement.clientHeight)) {
            video4.play()
        }
    })
    </script>
{% endblock %}