{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_jquery %}

{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>

    <script  src="https://kit.fontawesome.com/359826513d.js" crossorigin="anonymous"></script>
    <title>Kitchen</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

</head>
<body>
    <h2>Contact form submitted</h2>
    <p>See Details below</p>
        <div class="card p-3 shadow my-2" style="width: 60%;margin: auto">
            <h5 class="card-title text-center" style="color: rgb(46, 154, 135)">Customer Info</h5>
            <div class="card-body row m-0">
                <p class="col-md-4">Name: <b>{{ detail.name }}</b></p>
                <p class="col-md-4">Phone: <b>{{ detail.phone }}</b></p>
                <p class="col-md-4">Email: <b>{{ detail.email }}</b></p>
                <p class="col-md-4">Order number(if available): <b>{{ detail.order_number }}</b></p>
                <p class="col-md-4">Reason to contact: <b>{{ detail.reason }}</b></p>
                <p class="col-md-4">Detail: <b>{{ detail.detail }}</b></p>

            </div>
        </div>
</body>
</html>
