{% load static %}
{% load custom_tag %}
{% my_worktops as worktop %}
{% my_appliances as appliances %}
{% my_accessories as accessories %}
{% my_cart request as cart_count %}
<div class="d-flex justify-content-center p-4 mt-2 bg-white desktop" id="second_bar" >
    <div class="d-flex justify-content-around" style="width: 70%">
        <a href="{% url 'application:index' %}" style="color:inherit;font-weight: 600;text-decoration: none;cursor:pointer;" class="a_btn">Home</a>

        <div class="btn-group">
            <a style="font-weight: 600;text-decoration: none;cursor:pointer;color:inherit"
{#               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"#}
               class=" a_btn " href="{% url 'application:all-kitchen' %}">Kitchen Styles</a>
        </div>


        <div class="btn-group">
            <a style="font-weight: 600;text-decoration: none;cursor:pointer;color:inherit"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
               class="a_btn dropdown-toggle">WorkTops</a>

          <div class="dropdown-menu p-0">
              {% for item in worktop %}
                <a class="dropdown-item dropHover" href="{% url 'application:worktop-view' item.slug %}">{{ item }}</a>
            {% endfor %}

          </div>
        </div>


        <div class="btn-group">
            <a style="font-weight: 600;text-decoration: none;cursor:pointer;color:inherit"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
               class=" a_btn dropdown-toggle">Appliances</a>

          <div class="dropdown-menu p-0">
              {% for item in appliances %}
                <a class="dropdown-item dropHover" href="{% url 'application:appliances-list' item.slug %}">{{ item }}</a>
            {% endfor %}

          </div>
        </div>


        <div class="btn-group">
            <a style="font-weight: 600;text-decoration: none;cursor:pointer;color:inherit"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
               class=" a_btn dropdown-toggle">Services</a>

          <div class="dropdown-menu p-0">
                <a class="dropdown-item dropHover a_btn" href="{% url 'application:installation' %}">Installation</a>
                <a href="{% url 'application:design' %}" class="dropdown-item dropHover a_btn">Design</a>
          </div>
        </div>

        <div class="btn-group">
            <a style="font-weight: 600;text-decoration: none;cursor:pointer;color:inherit"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
               class=" a_btn dropdown-toggle">Kitchen Trends</a>

          <div class="dropdown-menu p-0">
	          <a href="{% url 'application:blog-list' %}" style="text-decoration: none;cursor:pointer;" class="dropdown-item dropHover">Trends</a>

              {% for item in accessories %}
                <a class="dropdown-item dropHover" href="{% url 'application:accessories-list' item.slug %}">{{ item }}</a>
            {% endfor %}

          </div>
        </div>

        <a style="color:inherit;font-weight: 600;text-decoration: none;cursor:pointer;" href="{% url 'application:contact' %}" class="a_btn">Contact Us</a>
        <a href="{% url 'application:cart' %}" style="font-weight: 600;text-decoration: none;cursor:pointer;color: black" class="a_btn align-self-center"><img src="{% static 'Svg/cart2.svg' %}" height="20px" alt="Cart svg"></a>
        {% if request.user.is_authenticated %}
        <small class="m-0 text-white border pl-1 pr-1 cart_count" id="cart_count"
                style="position: relative;right: 2%;top: -40%;
                background-color: forestgreen;border-radius: 8px;font-size: 65%;height: 75%" >{{ cart_count }}</small>
        {% endif %}
    </div>
</div>







{# for mobile version#}
    <div class="text-center my-3 menu" >
        <a class="p-1 pl-2 pr-2 " onclick="mobile_click(event)"
           style="border: 1px solid rgb(46, 154, 13);color: rgb(46, 154, 13);border-radius: 8px;
           width: fit-content">Learn More</a>
    </div>



    <div id="menu_div" class="fade-out-menu text-center" style="visibility: hidden;height: 0">

            <div class="text-center py-2">
                <a href="{% url 'application:index' %}" style="text-decoration: none;cursor:pointer;"
                class="text-secondary d-block pb-1 mb-2 border-bottom">Home</a>
            </div>

        <div class="btn-group d-block py-2 mb-2 border-bottom">
            <a style="font-weight: 600;text-decoration: none;cursor:pointer;"
{#               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"#}
               class="text-secondary a_btn " href="{% url 'application:all-kitchen' %}">Kitchen Styles</a>

        </div>


        <div class="btn-group d-block py-2 mb-2 border-bottom">
            <a style="font-weight: 600;text-decoration: none;cursor:pointer;"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
               class="text-secondary a_btn dropdown-toggle">WorkTops</a>

          <div class="dropdown-menu">
              {% for item in worktop %}
                <a class="dropdown-item dropHover" href="{% url 'application:worktop-view' item.slug %}">{{ item }}</a>
            {% endfor %}

          </div>
        </div>


        <div class="btn-group d-block py-2 mb-2 border-bottom">
            <a style="font-weight: 600;text-decoration: none;cursor:pointer;"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
               class="text-secondary a_btn dropdown-toggle">Appliances</a>

          <div class="dropdown-menu pb-1 mb-2 border-bottom">
              {% for item in appliances %}
                <a class="dropdown-item dropHover" href="{% url 'application:appliances-list' item.slug %}">{{ item }}</a>
            {% endfor %}

          </div>
        </div>


        <div class="btn-group d-block py-2 mb-2 border-bottom">
            <a style="font-weight: 600;text-decoration: none;cursor:pointer;"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
               class="text-secondary a_btn dropdown-toggle">Services</a>

          <div class="dropdown-menu pb-1 mb-2 border-bottom">
                <a class="dropdown-item dropHover a_btn" href="{% url 'application:installation' %}">Installation</a>
                <a href="{% url 'application:design' %}" class="dropdown-item dropHover a_btn">Design</a>
          </div>
        </div>

        <div class="btn-group d-block py-2 mb-2 border-bottom">
            <a style="font-weight: 600;text-decoration: none;cursor:pointer;color:inherit"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
               class="text-secondary a_btn dropdown-toggle">Kitchen Trends</a>

          <div class="dropdown-menu p-0">
	          <a href="{% url 'application:blog-list' %}" style="text-decoration: none;cursor:pointer;" class="dropdown-item dropHover">Trends</a>

              {% for item in accessories %}
                <a class="dropdown-item dropHover" href="{% url 'application:accessories-list' item.slug %}">{{ item }}</a>
            {% endfor %}

          </div>
        </div>

        <div class="py-2">
            <a style="text-decoration: none;cursor:pointer;" href="{% url 'application:contact' %}" class="text-secondary d-block pb-1 mb-2 border-bottom">Contact Us</a>
        </div>


        <div class="py-2">
	        <a href="{% url 'application:cart' %}" style="text-decoration: none;cursor:pointer;color: black" class="a_btn align-self-center d-block pb-1 mb-2 border-bottom"><img src="{% static 'Svg/cart2.svg' %}" height="20px" alt="Cart svg"></a>
	        {% if request.user.is_authenticated %}
	                <small class="m-0 text-white border pl-1 pr-1 cart_count" id="cart_count"
	                style="position: relative;left: 4%;top: -42px;
	                background-color: forestgreen;border-radius: 8px;font-size: 65%;height: 75%" >{{ cart_count }}</small>
	        {% endif %}
        </div>

    </div>

